<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <iframe id = "mainIframe" name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" width="100%" height="100%" src="/static/Html/login/login2.html"></iframe>


<script>
    window.innerWidth = window.innerWidth*0.99;
    window.innerHeight = window.innerHeight*0.98;
    var iframe = document.getElementById("mainIframe");
    iframe.width = window.innerWidth;
    iframe.height = window.innerHeight;

</script>
</body>
</html>